main {
    display:grid;
    text-align:center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 100px;
}
main .block{
    padding:20px;
    background-color: white;
}



@media screen and (min-width: 320px)  {
    .block.block1{
        grid-column-start: auto;
        grid-row-start: 2;
        background-color: red;
    }
    .block.block2{
        grid-column-start: auto;
        grid-row-start: 1;
        background-color: hotpink;
    }
    .block.block3{
        grid-column-start: auto;
        grid-row-start: 3;
        background-color: #36752D;
    }
    .block.block4{
        grid-column-start: auto;
        grid-row-start: 4;
        background-color: #1e88e5;
    }
}

@media screen and (min-width: 772px) {
    main {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
        .block.block1 {
            grid-column-start: auto;

            grid-row-start: 3;
            background-color: red;
        }

        .block.block2 {
            grid-column-start: auto;

            grid-row-start: 1;
            background-color: hotpink;
        }

        .block.block3 {
            grid-column-start: auto;

            grid-row-start: 2;
            background-color: #36752D;
        }

        .block.block4 {
            grid-column-start: auto;

            grid-row-start: 4;
            background-color: #1e88e5;
        }
}

@media screen and (min-width: 992px) {
    main {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .block.block1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        background-color: red;
    }

    .block.block2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        background-color: hotpink;
    }

    .block.block3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        background-color: #36752D;
    }

    .block.block4 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        background-color: #1e88e5;
    }
}