.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;

}


.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: span 3;
    background-color: mediumslateblue;
    grid-row-gap: 10px;
 }
.block.block2{
    grid-column-start: 1;
    grid-row-start: 2 ;
    grid-row-end: 4;
    background-color: mediumpurple;
}
.block.block3{
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: steelblue;
}
.block.block4{
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: cyan;
}
.block.block5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: hotpink;
}
.block.block6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    background-color: mediumslateblue;
}
.block.block7{
    grid-row-start: 4;
    grid-column-start: 3;
    background-color: mediumpurple;
}
.block.block8{
    grid-column-start: span 3;
    grid-row-start: 5;
    background-color: steelblue;
}
