table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font: normal 12px/150% Georgia, Times New Roman, Times, serif;
    background: #fff;
    overflow: hidden;
    border: 7px solid #36752D;
    border-radius: 20px;
}

table td,
table th {
    padding: 8px 0;
}

table thead th {
    background: linear-gradient(
            to bottom,
            #36752D 5%,
            #275420 100%
    );
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border-left: 0 solid #36752D;
}

table thead th:first-child {
    border: none;
}

table tbody td {
    color: #275420;
    font-size: 12px;
    font-weight: normal;
}

table tbody .alt td {
    background: #DFFFDE;
    color: #275420;
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tfoot td div {
    border-top: 1px solid #36752D;
    background: #DFFFDE;
}

table tfoot td {
    padding: 0;
    font-size: 24px;
}

table tfoot td div {
    padding: 0;
}

.onbekend {background-color:red;}





























































