/* items */
body {

    display: grid;
}
div {
    display:grid;
    gap: 10px;
    grid-template-columns: 100px 200px 100px;

}
div div {

    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}

@media screen and (max-width: 760px) {
    div {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);

        .item-1 {
            display: none;
            background: #b03532;
        }

        .item-2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            background: #33a8a5;
        }

        .item-3 {
            background: #30997a;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 4;
        }

        .item-4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            background: #6a478f;
        }

        .item-5 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            background: #da6f2b;
        }

        .item-6 {
            display: none;
            background: #3d8bb1;
        }

        .item-7 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            background: #e03f3f;
        }

        .item-8 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            background: #59a627;
        }

        .item-9 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;

            background: #4464a1;
        }

    }
}
