a {
    padding-left: 25px;
    background-image: url("https://www.feestkleding365.be/media/catalog/product/cache/2/image/040ec09b1e35df139433887a97daa66f/w/d/wdm1617-07095_a_4.jpg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

