.checked{
    list-style-type: none;
    background-image: url("https://openclipart.org/image/800px/96259");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    padding-left: 15px;
    background-position-y: center;

}

li {
    list-style-type: none;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/dd/Square_-_black_simple.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-left: 15px;
    background-position-y: center;
}